openai_api_key: <...>
hf_access_token: <...>
email_imap_address: <...>
email_imap_port: <...>
email_smtp_address: <...>
email_smtp_port: <...>
email_login: <...>
email_password: <...>
email_from: <...>
remote_control_websocket_host: <...>
remote_control_websocket_port: <...>
remote_control_websocket_ping_interval: <...>
remote_control_websocket_ping_timeout: <...>
messenger_websocket_host: <...>
messenger_websocket_port: <...>
messenger_websocket_ping_interval: <...>
messenger_websocket_ping_timeout: <...>
calendar_password: <...>
serper_api_key: <...>
outbound_emails_whitelist:
 - <...>
 - <...>
testing_email_outbound: <...>
testing_email_inbound: <...>
me:
  email: <...>
  first_name: <...>
  last_name: <...>
  location: <...>